.dropDownClass {
    position: absolute !important;
    top: 16px;
}

#dropDown {
    position: relative !important;
    top: -10px !important;
}

.p-button:disabled {
    cursor: not-allowed !important;
}